.homebtn-img{
    height: 50px;
    margin: 0 20px;
    cursor: pointer;
    top: 110px;
    position: fixed;
    
}

.homebtn-img:hover{
    transform: scale(1.2);
    transition: 0.2s;
}

@media screen and (max-width:500px){
    .homebtn-img{
        position: fixed;
        top: 88vh;
        left: 38vh;
        margin: 10px;
        height: 58px;
    }
}