h2{
    margin: 0;
    height: 60px;
}

.user-input-container{
    margin: 90px 200px 0 200px;
    border: none #abd1c6;
    box-shadow: 0 0 10px 0 #abd1c6;
    padding: 10px;
    border-radius: 10px;
}

.user-input{
    width: 60%;
    display: block;
    font-size: 35px;
    margin: 15px auto;
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
    box-shadow: 0 0 5px 0 #abd1c6;
    cursor: pointer;
    background-color: #c2dcd5;
    text-align: center;
}

.user-input-category{
    width: 62%;
    display: block;
    font-size: 35px;
    margin: 15px auto;
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
    box-shadow: 0 0 5px 0 #abd1c6;
    cursor: pointer;
    background-color: #c2dcd5;
}

.add-action-btn{
   display: block;
   margin: 40px auto;
   height: 50px;
   width: 200px;
   padding-bottom: 30px;
   font-size: 35px;
}

.emoji-picker{
    position: fixed !important;
    top: 110px;
    left: 35%;
}

@media screen and (max-width:500px){
    .user-input-category{
        width: 85%;
    }

    .user-input{
        width: 80%;
    }
    .user-input-container{
            margin: 90px 10px 0 10px;
        }
    h2{
        margin: 0;
        height: 50px;
    }
    .emoji-picker{
        position: fixed !important;
        top: 110px;
        left: 10%;
    }
}