@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+CU:wght@100..400&display=swap');

body {
  margin: 0px;
  padding: 10px;
  background-color: #004643;
}

.text-center{
  text-align: center;
}

.highlight{
  color: #fffffe;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 60px;
  }

.secondary{
  background-color: #001e1d ;
  padding: 2px;
  border-radius: 10px;
}

.text{
  color: #abd1c6;
  font-size: 20px;
}

.action-btn{
  background-color: #f9bc60;
  color: #001e1d;
  height: 40px;
  width: 150px;
  font-size: 23px;
  padding: 5px 20px;
  border-radius: 10px;
  font-family: "Dancing Script", cursive;
  font-weight:bolder;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 10px 0 #abd1c6;
  margin: 10px;
}

.action-btn:hover{
  background-color:  #fed69a;
}

@media screen and (max-width:500px) {
  .action-btn{
    margin-left: 1px;
  }
}